@import 'tailwindcss';

@theme {
  --color-accent: rgb(255, 210, 122);
  --color-primary: rgb(255, 251, 244);
  --color-secondary: rgb(59, 54, 73);
  --color-spotify: #1db954;
  --color-deezer: #a238ff;
  --color-tidal: #000000;
  --color-apple-music: #fa586a;

  /* font  */
  --font-base: 'Space Grotesk';
}

.glass {
  @apply border-1 bg-primary/10 border-primary/50 backdrop-blur-3xl;
}

@font-face {
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-family: 'Space Grotesk';
  font-weight: 100 900;
  font-style: normal;
}

p {
  font-family: 'Space Grotesk';
  font-weight: 400;
}
