/* File: src/styles/variables/_borders.scss */

// Borders
$rounded-xs: 0.25rem;
$rounded-sm: 0.5rem;
$rounded-md: 0.75rem;
$rounded-lg: 1.25rem;
$rounded-xl: 1.5rem;
$rounded-xxl: 2rem;
$rounded: 9999px;